{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Small Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'widgets/rateit/rateit.css' %}" rel="stylesheet" />
    {{ comment_form.media }} <!-- Include form media for star rating -->
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="/">Some Cocktail🍸</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{%url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'posts_list' %}">Cocktail Lists</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">sign up</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">
                    <form class="d-flex" method="get" action="{% url 'search_cocktails' %}">
                        {% csrf_token %}        
                        <input class="form-control me-2" type="text" placeholder="검색어를 입력하세요." name="q" value="{{ query }}" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"> Search </button>
                    </form>
                </p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            {% if highest_rated_post %}
            <h3>오늘의 인기 Cocktail🍸</h3>
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ highest_rated_post.photo.url }}"
                    alt="{{ highest_rated_post.title }}">

            </div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">{{ highest_rated_post.title }}</h1>
                <p>{{ highest_rated_post.body }}</p>
                <p>{{ highest_rated_post.info }}</p>
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'posts_list' %}">Go To CockTail List</a>
                {%else %}
                <h4>글 작성은 로그인 후 사용해주세요</h4>
                {% endif %}
            </div>
            {% endif %}
        </div>


        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            {% for post in posts %}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        {% if post.photo %}
                        <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ post.photo.url }}" alt="" width="100%"
                            height="300px">
                        {% endif %}
                       <br> <br>
                        <h3 class="post-title">{{ post.title }}</h3>

                        {% with comments=post.comment_set.all %}
                        <p>
                            {% for star_image in comments|calculate_average_grade|grade_to_star_image %}
                            <img src="{% static 'assets/rating/' %}{{ star_image }}" alt="Star" width="25px">
                            {% endfor %}
                            ({{ comments|calculate_average_grade }})
                        </p>
                        <p>글쓴이 : {{post.author}} </p>
                        {% endwith %}

                        <p class="post-meta">{{ post.created_at }}</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm"
                            href="{% url 'post_detail' post.id %}">More Info</a></div>
                </div>
            </div>
            {% endfor %}
            <!-- <div>
                {% if posts.has_previous %} <!--지금 잘라서 보여주는 posts의 목록이 이전 페이지가 있다면-->
                <!-- <a href="?page=1">첫 페이지</a>
                <a href="?page={{posts.previous_page_number}}">이전 페이지</a> <!--posts의 이전 페이지 숫자를 반환해라-->
                <!-- {% endif %}

                <span> {{ posts.number }} </span> <!--현재 페이지 넘버-->
                <!-- <span> / </span>
                <span> {{ posts.paginator.num_pages }} </span> <!--잘린 posts가 갖고 있는 총 페이지 수 반환-->

                <!-- {% if posts.has_next %} <!--다음 페이지가 있다면-->
                <!-- <a href="?page={{posts.next_page_number}}">다음 페이지</a>
                <a href="?page={{posts.paginator.num_pages}}">마지막 페이지</a>
                {% endif %}
            </div> --> 
        </div>

    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-4 px-lg-5">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>